@use 'src/styles.scss';

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;

    .logo {
        @include styles.hyperlink-reset;
        align-items: center;
        display: flex;
        gap: 5px;
        justify-content: center;

        .logo__img {
            max-width: 100%;
            width: 50px;
        }

        .logo__text {
            @include styles.gradient-text;
            font: 3em styles.$font-family-logo;
        }
    }

    .login-btn {
        @include styles.primary-button;
    }

    //Media queries
    @include styles.breakpoint("small") {
        .login-btn {
            font-size: 1.5em;
            padding: 0.5em 1.5em;
        }

        .logo__text {
            display: none;
        }
    }
}
