@use 'src/styles.scss';

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    .logo {
        @include styles.hyperlink-reset;
        align-items: center;
        display: flex;
        gap: 5px;
        justify-content: center;

        .logo__img {
            max-width: 100%;
            width: 50px;
        }

        .logo__text {
            @include styles.gradient-text;
            font: 3em styles.$font-family-logo;
        }
    }

    .login-container {
        align-items: center;
        display: flex;
        gap: 1em;
        justify-content: space-between;

        .logged-user-text {
            color: styles.$color-orange-500;
            font-size: 1.5em;
            font-weight: styles.$font-semibold;
        }

        .login-btn {
            @include styles.primary-button;
        }
    
        .log-out-btn {
            @include styles.secondary-button;
        }
    }
}

//Media queries
@include styles.breakpoint("small") { 
    .login-btn {
        font-size: 1.5em;
        padding: 0.5em 1.5em;
    }

    .logo__text {
        display: none;
    }
}
