<div class="login">
    <div class="login__content">
        <div class="close-button-container">
            <button type="button" class="close-button" (click)="activeModal.close('Close click')">×</button>
        </div>
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="users$ | async as users">
          <label for="userSelect">Choose a user:</label>
          <select id="userSelect" name="users" [(ngModel)]="selectedUser">
            <option [ngValue]="user" *ngFor="let user of users">
              {{ user.username }}
            </option>
          </select>
          <div>
            <label for="passwordInput">Password:</label>
            <input type="password" id="passwordInput" name="password" [(ngModel)]="password"/>
          </div>
          <button>Login</button>
        </form>
    </div>
</div>
