@use "src/styles.scss";

.weather-widget {
  color: styles.$color-dark-gray;
  font-family: styles.$font-family-primary;
  padding: 0.5em 0 0 0.5em;
  width: fit-content;

  //test glassmorphism (zrobic z tego mixina moze)
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: styles.$shadow-primary;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.169);

  .weather-widget__date,
  .weather-widget__city {
    font-size: 0.8em;
    font-weight: styles.$font-semibold;
  }

  .weather-widget__weather {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 13em;

    .weather-widget__weather--temp {
      font-size: 2.5em;
    }
  }
}
