@use "src/styles.scss";

.main-page {
  .headline {
    color: white;
    font-size: clamp(1rem, 10vw + 1rem, 5rem);
    margin-top: 15vh;
  }

  .app-weather-widget {
    display: block;
    margin-top: 15vh;
  }

  .app-main-page-form {
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

//Media queries
@include styles.breakpoint("small") {
  .headline {
    text-align: center;
  }
}
