<form class="form" #mainPageForm="ngForm">
  <label class="label" for="from">
    <span class="label-name">From</span>
    <select class="select" name="from" id="from">
      <option value="Katowice">Katowice</option>
    </select>
  </label>
  <label class="label" for="to">
    <span class="label-name">To</span>
    <select class="select" name="to" id="to">
      <option value="Warszawa">Warsaw</option>
      <option value="Paris">Paris</option>
      <option value="New York">New York</option>
    </select>
  </label>
  <label class="label" for="date">
    <span class="label-name" name="date" id="date">Date</span>
    <input class="input" type="date">
  </label>
  <label class="label" for="passengers">
    <span class="label-name" name="passengers" id="passengers">Passengers</span>
    <input class="input" type="number" min="1" max="9">
  </label>
  <button class="button">Accept</button>
</form>
